* {
	padding:0;
	margin:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body {
	font-family: sans-serif;
	overflow-x:hidden;
}


body {
	background:#ccc;
}
/*Helper classes*/
#headWrapper .sectionPad {padding:4px;}
.sectionPad {padding:20px;}


#logo {
	font-size:30px;
	color:#fff;
	font-weight:600;
	text-shadow:-1px -1px 0 #319eb5;
}

#logo em {
	font-weight:100;
	font-family:serif;
}
/*Structure*/

#headFixWrapper,
#headWrapper {
	height:44px;
	width:100%;
	z-index:1201;
}
#headFixWrapper {
	box-shadow:0 1px 2px rgba(0,0,0,.5);
	position: relative;
	background:#7fd2fb;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 100%, from(#7fd2fb), to(#319eb5));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #7fd2fb, #319eb5); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #7fd2fb, #319eb5);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #7fd2fb, #319eb5);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #7fd2fb, #319eb5);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(1%,#7fd2fb), color-stop(100%,#319eb5));
	
}

#headWrapper {
	position:fixed;
	background:url(../images/bgPattern.png) repeat;
}



/*MAP*/
html,
body,
#map, 
#wrapper {width:100%;height:100% !important;}
/* =============================================================================
   Overlays
   ========================================================================== */
#overlayRelativer,
.dPopMask {		background:rgba(0,0,0,.8) repeat;
	position:absolute;
	top:0;left:0;
	height:100%;		width:100%;
	z-index:99999999;}	
#overlayRelativer	 {
	height:0;
	overflow:visible;}
	
.dPopClose {
	background: url("../images/btnX.png") no-repeat scroll center center transparent;
    height: 35px;
    position: absolute;
    right: -13px;
    top: -13px;
    width: 35px;
    z-index: 2147483647;
}

#dPopWin {
	background:#fff;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 100%, from(#e3e9ed), to(#fff));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(left, #e3e9ed, #fff,#e3e9ed); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(left, #e3e9ed, #fff,#e3e9ed);
	/* IE 10+ */
	background-image: -ms-linear-gradient(left, #e3e9ed, #fff,#e3e9ed);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(left, #e3e9ed, #fff,#e3e9ed);
	background-image:-webkit-gradient(linear, left top, right top, color-stop(1%,#e3e9ed),color-stop(50%,#fff), color-stop(100%,#e3e9ed));
	
	border:solid 2px #c0c975;
	border-radius:7px;
	margin:40px auto;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	padding:10px;
	position:relative;
	
	box-shadow:0 2px 4px rgba(0,0,0,.7);}
	
.bringDPopUpIn {
	-webkit-transform:scale(1);
	opacity:1;
	-webkit-animation:fadeScaleIn 500ms 1;
	display:block;
}
.bringDPopUpOut {
	-webkit-transform:rotate(0) translateX(0);
	opacity:0;
	-webkit-animation:fadeScaleOut 500ms 1;
}

@-webkit-keyframes fadeScaleIn{
0%{-webkit-transform:rotate(90deg) translateX(200%);opacity:0;}
100%{-webkit-transform:rotate(0) translateX(0);opacity:1;}
}
@-webkit-keyframes fadeScaleOut{
0%{-webkit-transform:rotate(0) translateX(0); opacity:1;}
100%{-webkit-transform:rotate(90deg) translateX(200%);opacity:0;}
}
	
.dPopSpacer {
	padding:15px;}
	
.eventPop {
	width:97%;
	text-align:center;
	padding:25px 0;
	color:#555;
	top:10px;}	
	
.eventPop h1 {
	font-size:14px;
	margin-bottom:15px;}
	
.eventPop #dPopLogoWrap {
	padding:5px;
	background:#00a8cc;}
.eventPop #dPopLogoWrap img {
	margin:10px auto;}
	
.eventPop h3 {
	font-size:18px;
	margin:10px 0;}
.eventPop h3 strong {
	display:block;
	font-size:26px;
	text-align:center;}
	
/*leaflet overrides*/
.leaflet-left {
	left:inherit !important;
	right:0;}

.leaflet-marker-icon {
	background:#319eb5;padding:3px;border-radius:2px;box-shadow:1px 1px 2px rgba(0,0,0,.35);}